.textosLogin {
    color: #d56510 !important;
    font-weight: bold !important;
}

.botao {
    background-color: #d56510 !important;
}

.imagem {
    width: 100vh;
    min-height: 100vh;
    background-image: url(https://i.imgur.com/WeQW3ru.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none !important;
}