.MuiTypography-subtitle2 {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.footer-container {
  background-color: #ed7e39 !important;
  color: #F2F2F2 !important;
  height: 120px !important;
}

.footer-container-2 {
  background-color: #e37531;
  height: 60px;
}

.texto {
  color: #F2F2F2;
}

.redes {
  font-size: 50px !important;
  color: #F2F2F2 !important;
  height: 50px !important;
}