.textosCadastroUsuario {
    font-weight: bold !important;
}

.botaoCancelar {
    margin-right: 20px !important;
}

.imagemCadastroUsuario {
    width: 100vh;
    min-height: 100vh;
    background-image: url(https://i.imgur.com/qxtp6AU.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.text-decorator-none {
    text-decoration: none;
}